{% extends 'base.html' %}
{% load static %}
{% block content %}
    <img src="{% static 'gui/img/logo.jpg' %}" alt="" id="logo">
    <form action="" method="POST">
        <label for="user" class="log">User</label>
        <input type="text" name="user" class="log" >
        <div></div>
        <label for="pass" class="log">Password</label>
        <input type="password" name="pass" class="log">
        <div></div>
        <input type="submit" value="Log In" class="log">
        <a href="new_user" class="log">Create User</a>
    </form>
{% endblock content %}