{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'gui/style.css' %}">
    <script src="{% static 'gui/js/jquery-3.5.1.js' %}"></script>
    <script type = "text/javascript" src="{% static 'gui/js/terminal.js' %}">
        var len = 0;
    </script>
    <title>Pied Piper</title>
</head>
<body>
    <a href="/log_out" class = "terminal">Log Out</a>
    <br>
    <textarea name="terminal" id="terminal" cols="30" rows="10" class="terminal"></textarea>
    <br>
    <button type="submit" id="check" class="terminal">Run</button>
    <br>
    <textarea id="text" class="mkfile"></textarea>
    <br>
    <button type="submit" id="check2" class="mkfile">Send</button>
</body>

</html>