a {
    text-decoration: unset;
    color: unset;
}
body{
    margin: 0;
    display: grid;
    grid-template-columns: 12vw auto 15vw;
    grid-template-rows: 12vh  88vh;
    grid-template-areas:
      "Menu Header Header"
      "Menu Content Support";
      font-family: 'Roboto', sans-serif;
}

header{
    position: relative;
    display: flex;
    grid-area: Header;
    margin: 0;
    color: #459649;
    background-color: #e3f2e4;

}

#Menu{
    background-color: #9bcc9f;
    grid-area: Menu;

}
#Menu ul{
    list-style: none;
    padding: 0;
}
#Menu ul li{
    padding: 2vh 2vw 2vh 2vw;
}
#menuBtn{
    text-decoration: none;
    color: #001e00
}
#menuBtn:hover{
    background-color: #daeadb;
    color: green;
}


#Vista{
    grid-area: Content;
    background-color: #e1ede2;
}
#Uploads{
    grid-area: Support;
    background-color: #daeadb;
    color: #08ce12;
}

#Logo{
    width: 8vW;
}
